body {
    font-family: Arial, sans-serif;
    background-image: url("https://wallpapers.com/images/featured/4k-laptop-car-tchphr7vwuc9w59w.jpg");
    background-size: cover;
    padding: 40px;
}

.container {
    max-width: 500px;
    background: white;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.radio-group {
    margin-top: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
